/*Scrollbar*/
:root {
    --scrollbar-background-active: #212121;
    --scrollbar-background-inactive: var(--scrollbar-background-active);
    --scrollbar-thumb-border: 0.1vw solid #212121;
    --scrollbar-thumb-background: hsl(0, 0%, 64%);
    --scrollbar-thumb-background-hover: hsl(0, 0%, 76%);
    --scrollbar-thumb-radius: 0.6vw;
    --scrollbar-size: 1px;
}
  

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
    overflow: visible;
}
  
::-webkit-scrollbar-track {
    background: var(--scrollbar-background-active);
}
  
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
    border-radius: var(--scrollbar-thumb-radius);
    border: var(--scrollbar-thumb-border);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-background-hover);
}
  
::-webkit-scrollbar-thumb:window-inactive {
background: var(--scrollbar-background-inactive);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scrollbar-width: 1px;
    scroll-behavior: smooth !important;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f5f5f5;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    scrollbar-color: var(--scrollbar-thumb-background)
    var(--scrollbar-background-active);
    scrollbar-width: thin;
    scroll-behavior: smooth;

}


body.active {
    overflow: hidden;
}


header {
    height: 100vh;
    width: 100%;
    background-color: #212121;
    background-size: cover;
    display: flex;
}

/* .txt-title {
    z-index: 99999;
    color: white;
    font-size: 4em;
    margin: 0 auto;
    margin-top: 42vh;
} */


/* .menu-main {
    margin: 0;
    display: flex;
    width: 100%;
    height: 94vh;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* .menu-main .blur{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #0000008f;
} */

/* .gauche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 530px;
    padding: 1rem;
    z-index: 9999;
    
}

.droite img{
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gauche h3 {
    font-size: max(2vw, 30px);
    font-weight: 200;
    letter-spacing: 1.2px;
    text-align: center;
    color: white;
} */



.navbar {
    position: fixed;
    z-index: 999;
    padding: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #212121;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #007bff;
}

.navbar .logo {
    font-size: 2em;
    width: 100%;
}


.navbar .nav-links ul {
    display: flex;
}



.navbar .nav-links ul li {
    margin: 0 25px;


}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
    
}


.div-ecriture {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin: 0 auto;

}

.ecriture {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

@media screen and (max-width: 1000px) {
    .navbar {
        padding: 2.7rem;
        color: #212121;
        z-index: 999;
        
    }


    .navbar .logo {
        position: absolute;
        font-size: 1.7em;
       
    }

    .navbar .menu-hamburger {
        display: block;
        position: absolute;
        top: 27px;
        
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #212121;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .li .ul a {
        color: black;
    }

    .navbar .nav-links ul li a {
        color: white;
    }

    .ecriture {
        font-size: 1.2em;
    }
    
}




@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);

    }

    50% {
        clip-path: polygon(0% 59%, 18% 67%, 36% 70%, 51% 66%,
                66% 56%, 82% 49%, 100% 45%, 100% 100%, 0% 100%);

    }
}


#cv {
    scroll-padding-bottom: 10rem;
}

.img-main {
    width: 70%;

}






/* CV */
.presentation-container {
    margin-left: 8px;
}

.titre1 {
    text-align: center; 
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}



.titre2 {
    font-size: 1.5em;
}

.titre2:after {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    border-radius: 2px;
    background: #007bff;
}


.presentation {
    margin-top: 15px;
    text-align: center;
}


.qualite {
    margin-top: 20px;

}

.documents {
    margin-top: 20px;
}

.btn-doc {
    margin: 20px auto;
    background: #007bff;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
    text-align: center;
    width: 50%;
    color: white;
}

.btn-doc:hover {
    border-radius: 4px;

}





/* Projets */



.cards-projets {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px
}

.cards-projets h1 {
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services {
    display: flex;
    align-items: center;

}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
    justify-content: center;
    

}



.content>* {
    flex: 1 1 100%;
}

.content:hover {
    color: white;
}


.content:hover a {
    border-color: white;
    background: white;
}

.content-1:hover {
    border-color: #007bff;
    background: #007bff;
}

.content-1:hover a {
    color: #007bff;

}


.content-2:hover {
    border-color: #007bff;
    background: #007bff;
}

.content-2:hover a {
    color: #007bff;
}

.content-3:hover {
    border-color: #007bff;
    background: #007bff;
}

.content-3:hover a {
    color: #007bff;
}

.content h2 {
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p {
    font-size: 17px;
}

.content a {
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercaase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 10px;
    transition: .3s ease;
}

.content a:hover {
    border-radius: 4px;

}

@media (max-width:900px) {
    .services {
        display: flex;
        flex-direction: column;
    }
}


.img-project {
    height: auto;
    margin: 0 auto;

}

.lpf {
    max-width: 100px;
}

.bils {
    max-width: 250px;
    margin: 30px 0;

}

.SET {
    max-height: 118px;
    max-width: 225px;
}






























/* Compétences */

.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    row-gap: 16px;
}

.topics .topic {
    padding: 10px;
    margin: 0px;
    width: 280px;
    height: 280px;
}

.topics .topic .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topics .topic .icon-box .topic-icon {
    padding: 0px;
    margin-top: 10px;
}

.topics .topic .topic-title {
    text-align: center;
    margin-top: 10px;
}

.topics .topic .topic-text {
    text-align: center;
    font-size: 120%;
    margin-top: 10px;
}

.topics .topic:hover,
.topics .topic:active {
    color: #007bff;
    transition: .3s ease;
}

.topics .topic:hover .topic-text,
.topics .topic:active .topic-text,
.topics .topic:hover .topic-title,
.topics .topic:active .topic-title {
    color: #212121;
}


/* .topics .topic:hover .fa-inverse,
.topics .topic:active .fa-inverse {
    
} */






















#btn-veille {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: #212121;
    color: #FFF;
    font-family: inherit;
    font-size: 15px;
    border: 1px solid white;
    line-height: 35px;
    text-align: center;
}

#btn-veille:hover {
    background-color: #007bff;
    /* Green */
    color: white;
    transition: background-color 0.3s ease-in-out;
}










/* Articles de veille */














.btnMenue {

    background-color: #007bff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;


}

.col1 {
    text-align: center;
    margin-bottom: 15px;

}






















.cards {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.wrap-feed {
    display: flex;
    margin: 0 auto;
    width: 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 20px;


}

.post-feeds {
    display: flex;
    margin: auto;
    width: 400px;
    min-height: 650px;
    position: relative;
}

/* @media (min-width: 40rem) {
    .post-feeds {
        width: 33%;
    }
}

@media (min-width: 56rem) {
    .post-feeds {
        width: 33%;
    }
} */

.post-feeds {
    border-radius: 0.25rem;
    border: solid 1px#007bff;
    box-shadow: 0 20px 40px -14px black;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: #ffffff;

}

.card_content {
    padding: 1rem;
    background: #212121;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}


.image-feed {
    width: 100%;
    height: 250px;
    border-bottom: solid;
    object-fit: cover;
}

.feed-title {
    padding: 1rem;
}

.text-feed {
    padding: 1rem;
    /* overflow: hidden;
    max-width: 2000px;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.pubDate {
    padding: 1rem;
    position: absolute;
    bottom: 50px;
}

.readmore-feed {
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: #212121;
    border-top: 1px solid white;
    transition: all 200ms ease;

}

.readmore-feed:hover {
    color: #007bff;
    transition: all 200ms ease;
}



.article{
    width: auto;
    height: 200px;
    margin: 15px 15px 15px 15px;
    border:1px solid #E3DCDC;
    display: flex;
    flex-direction: column;
  
  }
  
  .article img{
    margin-top: 15px;
    margin-left: 15px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 5px;
    width: 167px;
    height: 168px;
    float: left;
  }
  
  
  
  .article .zone_text{
    width:  auto;
    height: 168px;
    margin: 15px 15px 15px 15px;
    border:1px solid #E3DCDC;
  
  }
  
  .zone_text p{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }








/* test veille */


.Panel {
    width: 100%;
    
    margin: 30px 8px auto 8px;
}

.Panel__body {
    background-color: #f2f2f2;
    padding: 10px 20px;
}

.Tabs {
    position: relative;
    background-color: #fff;
}

.Tabs:after {
    content: ' ';
    display: table;
    clear: both;
}

.Tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}



.Tabs__tab {
    float: left;
    width: 16.666%;
    text-align: center;
    
}

.Tabs__tab:first-child.active~.Tabs__presentation-slider {
    transform: translateX(0) scaleX(0.166);
}

.Tabs__tab:nth-child(2).active~.Tabs__presentation-slider {
    transform: translateX(16.666%) scaleX(0.166);
}

.Tabs__tab:nth-child(3).active~.Tabs__presentation-slider {
    transform: translateX(calc(16.666% * 2)) scaleX(0.166);
}

.Tabs__tab:nth-child(4).active~.Tabs__presentation-slider {
    transform: translateX(calc(16.666% * 3)) scaleX(0.166);
}

.Tabs__tab:nth-child(5).active~.Tabs__presentation-slider {
    transform: translateX(calc(16.666% * 4)) scaleX(0.166);
}

.Tabs__tab:nth-child(6).active~.Tabs__presentation-slider {
    transform: translateX(calc(16.666% * 5)) scaleX(0.166);
}





.Tabs__presentation-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform-origin: 0 0;
    transition: transform .25s;
}


.Tab>a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #666;
    transition: color .15s;
}

.Tab.active>a {
    color: #222;
}

.Tab:hover>a {
    color: #222;
}

.Tab a {
    cursor: pointer;
}





#panel2 {
    display: none;
}


#panel3 {
    display: none;
}


#panel4 {
    display: none;
}


#panel5 {
    display: none;
}

#panel6 {
    display: none;
}



.wrapper { 
    border : 2px solid #000; 
    display: flex;
  }
  
#one {
    display: flex;
    align-items: center;
}
#one img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
  #two { 
    background-color: white;
    margin:10px;
    border:2px dashed #ccc;
    padding: 1em;
    text-align: center;

  }
  
  @media screen and (max-width: 1200px) {


     /* #one { 
      float: none;
      margin-right:0;
      width:auto;
      border:0;
      border-bottom:2px solid #000;
      
    } */

    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
  }

  @media screen and (max-width: 592px) {
    #one img {
        width: 100%;
        height: 100%;          
    }
    .Tabs__tab {
        font-size: 10px;
    }
  }


  
    
    
    













.contact-container {
    border: solid 1px#007bff;
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-color: #212121;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact {

    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 55px;

}


.hr {
    border: none;
    border-left: 1px solid white;
    height: 100vh;
    width: 1px;
}




.form-block {
    width: 100%;
    max-width: 1000px;
    padding: 1rem;

}



.title-div {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: #007bff;
    border-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.titre {
    color: white;
    text-align: center;
}


.social-div {
    display: flex;
    width: 60%;
    /* border-right: 1px solid white; */
    padding: 1rem;
    flex-direction: column;
    height: 100%;
    gap: 34px;
}



.social-div a.social-contact {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 20%;
    background-color: white;
    color: black;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.social-div a.social-contact:hover {
    background-color: #007bff;
    color: white;
}

.social-div a.social-contact:not(:last-child) {
    margin-right: 10px;
}


.ligne {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 35px;
}


.links {
    color: white;
    text-decoration: underline;
    cursor: pointer;

}










.contact-container label {
    display: inline-block;
    color: white;


}

.contact-container input {
    font-family: inherit;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    width: 100%;
    line-height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;

}

.star {
    color: red;
}

.contact-container textarea {
    font-family: inherit;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    width: 100%;
    border: solid 1px #212121;
    margin-bottom: 35px;
    padding-left: 5px;
    line-height: 35px;

}

.contact input:focus,
.contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}




.btn-submit {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: #212121;
    color: #FFF;
    font-family: inherit;
    font-size: 15px;
    border: 1px solid white;
    line-height: 35px;
    text-align: center;
}

.btn-submit:hover {
    background-color: #007bff;
    /* Green */
    color: white;
    transition: background-color 0.3s ease-in-out;
}


@media screen and (max-width: 1100px) {
    .contact {
        flex-direction: column;
    }

    .contact-container input {
        width: 75%;
    }

    .contact-container textarea {
        width: 75%;
    }

    .contact-container label {
        font-size: 75%;
    }
    .btn-submit {
        width: 85%;
    }
}


@media screen and (max-width: 1000px) {
    
    .contact-container input {
        
    }
    .btn-submit {
        
    }
    .contact-container label {
        
    }
}

@media screen and (max-width: 600px) {
    
    .ligne a {
        display: none;
    }
    .social-div {
        margin: 0 auto;
    }
    .ligne {
        column-gap: 0px;
        margin: 0 auto;
    }
}


















.aparent {
    min-height: 200px;
}

.achild {
    background-attachment: fixed;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}



#slide1 {
    background-image: url(slide1.jpg);
}


#slide2 {
    background-image: url(slide2.jpg);
}

#slide3 {
    background-image: url(slide3.jpg);
}

#slide4 {
    background-image: url(slide4.jpg);
}

#slide5 {
    background-image: url(slide5.jpg);
}



.marge {
    height: 120px;
}



.page {
    background-color: white;
    width: 75%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    padding: 1em;
}

.page h3 {
    text-align: center;

}

/* .page hr {
    background-color: #007bff;
    border: 0;
    height: 1px;
    width: 20%;

} */





.white {
    color: #fff;
}

.center {
    text-align: center;
    padding-top: 100px;
}

h1 {
    margin: 0;
}

p {
    padding: 0;
}



































/* Footer */



.div-footer a,
.div-footer a:visited,
.div-footer a:active {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

.div-footer a:hover {
    color: #007bff;
}

main {
    margin: 20vh auto;
    text-align: center;
}

main h1 {
    font-size: 60px;
}

footer {
    background-color: #212121;
    color: #dfdfdf;
    padding: 30px 100px;
}

footer h3 {
    color: white;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto 30px auto;
}

.footer-col {
    width: max-content;
}

.footer-col>* {
    /* display: block; */
    width: max-content;
}

.footer-col>h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.footer-col a {
    padding: 5px 0;
}



.footer-bottom {
    display: flex;
    justify-content: center;
}

.div-footer a.social {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.div-footer a.social:hover {
    background-color: #007bff;
    color: white;
}

.div-footer a.social:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .footer-top {
        justify-items: center;
    }
}

@media screen and (max-width: 660px) {
    footer {
        padding: 30px;
    }
}

@media screen and (max-width: 375px) {
    .footer-col{
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    #div-message2{
        text-align: center;
        font-size: 12px;
        margin-left: -22px;
        margin-right: 5px;
    }

    #name {
        margin-left: -1px;
    }
    #email {
        margin-left: -1px;
    }
    #message {
        margin-left: -1px;
    }
}


























